<link rel="stylesheet" href="css/partial-home.css">
<div class="FriendList" data-ng-controller="displayFriends">
   <div id="salert" class="alert alert-success" ng-if="res && se==1" role="alert">{{message}}</div>
   <div id="salert" class="alert alert-danger" ng-if="res && se==0"role="alert">{{message}}</div>
   <ul class="list-group">
    <li class="list-group-item" data-ng-repeat="fr in frlist | filter:filter.name">
        <div class="row">
            <div class="col-xs-4 col-md-2">
                <a href="#" class="thumbnail">
                <img src="Resources/personIcon.png" alt="Image not Found">
                </a>
            </div>
            <div class="col-xs-5 col-md-2">
                Name: {{fr.name}}<br/>
                Address: {{fr.address}}<br/>
                D.O.B : {{fr.dob}}
            </div>
            <div id="edit"class="col-xs-2 col-md-1">
                <img data-ng-src="Resources/edit.png"
                     height="40px"
                     width="30px"
                     alt =" Image not found"
                     ui-sref="edit"
                     data-ng-click="passtoedit(fr)">
            </div>
            <div id="del" class="col-xs-2 col-md-1">
                <img data-ng-src="Resources/trash.png"
                     height="40px"
                     width="40px"
                     alt =" Image not found"
                     data-ng-click="deleteContact(fr.id)">
            </div>
        </div>
    </li>
   </ul>
   <div id="addNew">
       <a class"btn btn-primary" type="button">
         <span class="glyphicon glyphicon-plus-sign" ui-sref=".add">ADD FRIEND</span>
       </a>
   </div>
<div ui-view></div>
</div>
